requests==2.23.0
RESTinstance==1.0.2
robotframework==5.0.1
robotframework-appiumlibrary==1.5.0.4
robotframework-assertion-engine==0.5.1
robotframework-browser==12.4.0
robotframework-databaselibrary==1.2.4
robotframework-dependencylibrary==1.0.0.post1
robotframework-excel==1.0.0b4
robotframework-excellib==2.0.0
robotframework-ftplibrary==1.9
robotframework-jsonlibrary==0.3.1
robotframework-jsonvalidator==2.0.0
robotframework-metrics==3.1.6
robotframework-oracledb==2.0.2
robotframework-postgresqldb==2.0.0
robotframework-pythonlibcore==3.0.0
robotframework-requests==0.6.5
robotframework-screencaplibrary==1.3.2
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==4.3.0
robotframework-soaplibrary==0.4
robotframework-sshlibrary==3.4.0
robotframework-sudslibrary3==1.0
selenium==3.141.0
six==1.11.0
